<template>
    <button @click="onClick()" :style="{background:color, color:textcolor}" class="btn btn-primary">
        {{text}}
    </button>
</template>

<script>

export default {
    name: 'Button',
    props:{
        text:String,
        color: String,
        textcolor: String
    },
    methods: {
        onClick(){
            console.log('click')
        }
    }
}
</script>
