<template>
  <header>
      <h1 class="title">Engineering Interns</h1>
      <div>
      </div>
     
  </header>

</template>


<script>

import Button from './Button'
export default {
    name: 'Header',
    props:{
        title: String,
        color: String,
        titleColor: String
    },
    components: {
        Button
    }
}
</script>

<style scoped>
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20;
}

.title{
    color: white;
}
</style>
