<template>
  <div class="intern">
    <h3 >{{ intern.name }}</h3>  
    <p >{{ intern.stacks}}</p>  
   

 
  </div>
</template>

<script>
import Interns from './Interns'



export default {
  name: "Intern",
  props: {
    intern: Object,
  },
  components: {

    Interns,
  },
  data() {
    return {
      interns: [],
      component: "Header",
    };
  },
};
</script>

<style scope>
.intern {
  color: white;
  padding: 10px 20px;
  border: 1px solid steelblue;
  margin: 5px;
  cursor: pointer;
}
</style>
