<template>
  <div :key="intern.id" v-for="intern in interns" >
  
      <Intern :intern ="intern"/>
      
  </div>
</template>

<script>
import Button from './Button.vue';
import Intern from './Intern'
export default {
  name: "Interns",
  props: {
    interns: Array,
  },
  components:{
      Intern
 
  }
};
</script>