<template>
  <div class="container">
     <button v-on:click="component = 'Header'" class="btn">Home</button>
    <button v-on:click="component = 'Interns'" class="btn">Interns</button>
    <keep-alive>
      <component v-bind:is="component" v-bind="currentProperties"></component>
    </keep-alive>

  </div>
</template>

<script>
import Header from "./components/Header";
import Interns from "./components/Interns";

export default {
  name: "App",
  components: {
    Header,
    Interns,
  },
  data() {
    return {
      interns: [],
      component: "Header",
    };
  },

  created() {
    this.interns = [
      {
        id: 1,
        name: "Stacy Ann Chebet",
        stacks: "Adonis Js, Flutter"
      },
      {
        id: 2,
        name: "Dorcas Cherono",
        stacks: "Adonis Js, Vue JS"
      },
      {
        id: 3,
        name: "Maxwell Kimaiyo",
        stacks: "Flutter, Go"
      },
      {
        id: 4,
        name: "Gill Erick",
        stacks: "Vue Js, Quarkus"
      },
    ];
  },
  computed: {
  currentProperties: function() {
    if (this.component === 'Interns') {
      return { interns: this.interns }
    }
  }
}}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: wheat;
}
.container {
  background-color: black;
  max-width: 500px;
  margin: 180px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
}
.btn {
  display: inline;
  background: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}
</style>
